@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color: black;
}

.page{
    display: grid;
    grid-template-rows: auto auto auto;   
}

.header{
    margin-left: 100px;
    margin-right: 100px;
    align-content: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 5px;
    height: 400px;
    margin-top: 50px;
}

.heading{
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: 'Potta One', cursive;
    font-size: 70px;
    padding-right: 5px;
    font-style: italic;
    background-image: linear-gradient(to top,rgb(247, 123, 7) 10%, rgb(248, 139, 7) 30%,  rgb(233, 174, 36) 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation-duration: 2.5s;
    animation-name: slider;
}

.image{
    padding-top: 20px;
    height: 180px;
    width: 180px;
    animation-name: slider;
    animation-duration: 2.5s;
}

/*animation for header*/
@keyframes slider {
    0%{
        transform: translateY(-500px);
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateX(0);
    }
}

.pseudo{
    color:rgb(233, 174, 36);
    font-family: 'Concert One', cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 17px;
    text-align: center;
}

.pseudo img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.error{
    color:rgb(233, 174, 36);
    font-family: 'Concert One', cursive;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    text-align: center;
}

.list{
    width:100%;
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    animation-name: up;
    animation-duration: 2s;
}

/*animation for list of coins*/
@keyframes up{
    0%{
        transform: translateY(400px) ;
    }
    25%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0px); 
    }
}

.picture{
    height: 25px;
    width: 25px;
}

.picture:hover{
    height: 30px;
    width: 30px;
}

.list ul{
    margin-top: 0px;
    list-style-type: none;
}

.list-items{
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    margin-left: 80px;
    margin-right: 80px;
    font-family: 'Potta One', cursive;
    font-size: 20px;
    color: black;
}

.list-items li{
    height: 60px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    place-items: center;
    background-image: linear-gradient(to right bottom,rgb(252, 149, 53) 10%, rgb(247, 186, 112) 30%,  rgb(245, 199, 91) 70%);
    /* background-color: #329E88; */
}

.buy{
    height: 35px;
    width: 150px;
    background-color: black;
    color: white;
    font-family: 'Potta One', cursive;
    font-size: 15px;
    font-weight:500;
    border-style: none;
    border-radius: 8px;
}

.buy1{
    height: 35px;
    width: 150px;
    background-color: black;
    color: white;
    font-family: 'Potta One', cursive;
    font-size: 15px;
    font-weight:400;
    border-style: none;
    border-radius: 8px;
}

.buy:hover{
    height: 40px;
    width: 160px;
    font-weight: bolder;
}

.buy1:hover{
    height: 40px;
    width: 160px;
    font-weight: bolder;
} 

